html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
@font-face {
  font-family: 'cwTeX Q KaiZH';
  src: url("../fonts/cwTeX-Q-KaiZH-subset.ttf");
}
html,
body,
#wrap {
  width: 100%;
  height: 100%;
}
body {
  background: #16161d;
}
#wrap {
  position: relative;
}
.presentation {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  color: #000;
}
.presentation .draw {
  position: absolute;
}
.presentation .draw.page {
  position: relative;
  margin-bottom: 1% !important;
  background: #fff;
}
.presentation .draw.image {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  width: 100% !important;
  height: 100% !important;
  content: '';
}
.presentation .draw.text-box {
  width: 100% !important;
  height: 100% !important;
}
.presentation .text {
  display: inline;
}
.presentation .text.p,
.presentation .text.span {
  position: static;
}
.presentation .text.p .span {
  white-space: nowrap;
}
.presentation .text.line-break {
  position: static;
}
.frame > .image span {
  height: 0 !important;
}
.frame > .image .p {
  position: absolute !important;
  width: 6em !important;
  height: 1em !important;
  margin: auto;
  margin-left: -3em;
  top: 0 !important;
  bottom: 0 !important;
  left: 50% !important;
  text-align: center;
}
html {
  font-size: 18px;
}
small {
  font-size: 1.1ex;
  font-weight: 900;
}
.ui.menu {
  margin: 0;
}
.ui.label.white {
  background: none;
}
.ui.menu .ui.image.avatar {
  margin: -0.83em 0;
}
.ui.round.button {
  -webkit-border-radius: 2em;
  border-radius: 2em;
}
.ui.yellow.label {
  background-color: #f0ad4e !important;
}
.ui.purple.label {
  background-color: #9b96f7 !important;
}
.ui.pink.label {
  background-color: #f3a8aa !important;
}
.ui.deep-blue.label {
  background-color: #006dcc !important;
}
.ui.deep-green.label {
  background-color: #5bb75b !important;
}
.ui.deep-purple.label {
  background-color: #564f8a !important;
}
.no.margin {
  margin: 0;
}
.float.right {
  float: right;
}
.align.right {
  text-align: right;
}
.one.line.height {
  line-height: 1em;
}
.two.line.height {
  line-height: 2em;
}
.indent {
  margin-left: 2rem;
}
.hidden,
.shy {
  display: none;
}
.removed {
  display: none !important;
}
.transparent {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.half-transparent {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.opaque {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.inline.block {
  display: inline-block;
}
@media screen and (max-width: 1024px) {
  .desktop.only {
    display: none !important;
  }
}
@media screen and (min-width: 1025px) {
  .mobile.only {
    display: none !important;
  }
}
@media screen and (max-width: 1024px) {
  .mobile.only {
    display: "";
  }
}
@media screen and (min-width: 1025px) {
  .tablet.only {
    display: none !important;
  }
}
@media screen and (max-width: 1024px) {
  .tablet.only {
    display: "";
  }
}
@media screen and (min-width: 641px) {
  .tablet.only {
    display: "";
  }
}
@media screen and (max-width: 640px) {
  .tablet.only {
    display: none !important;
  }
}
@media screen and (min-width: 641px) {
  .phone.only {
    display: none !important;
  }
}
@media screen and (max-width: 640px) {
  .phone.only {
    display: "";
  }
}
@media screen and (min-width: 481px) {
  .tiny.only {
    display: none !important;
  }
}
.ui.modal.control {
  font-family: "Noto Sans", "Noto Sans T Chinese", "Noto Sans S Chinese", "微軟正黑體", sans-serif;
}
.ui.modal.control .header .settings.icon {
  float: right;
  cursor: pointer;
}
.ui.modal.control .content {
  padding: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.ui.modal.control .playground {
  font-size: 120%;
  text-align: center;
}
.ui.modal.control .playground .navbar {
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 1px;
  right: 0;
}
.ui.modal.control .playground .navbar .menu {
  -webkit-border-radius: 0;
  border-radius: 0;
}
.ui.modal.control .playground .entry {
  position: relative;
  background: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  min-height: 2rem;
  padding: 1rem;
  font-size: 1rem;
  text-align: left;
}
.ui.modal.control .playground .entry .definition {
  line-height: 2rem;
  margin-left: 1rem;
}
.ui.modal.control .playground .entry .word-class {
  margin-left: 0.5rem;
}
.audio-control {
  cursor: pointer;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-image: url("../images/play.png");
}
.audio-control.playing {
  background-image: url("../images/pause.png");
}
.audio-control.loading {
  cursor: auto;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.comp.undo-cut {
  position: absolute;
  top: 10.5rem;
  left: 50%;
  margin-left: -1.6rem;
  text-align: center;
}
.comp.undo-cut i.repeat.icon:before {
  font-family: 'icomoon';
  font-size: 2.4rem;
  line-height: 3.2rem;
  content: "\e603";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
}
.comp.undo-cut .button {
  display: none;
}
.comp.undo-cut .button.actived {
  display: block;
}
.comp.undo-cut .button.actived .icon {
  background: #575f64;
}
.comp.undo-cut .button.actived .icon:hover {
  background: #f94646;
}
.strokes {
  z-index: 2;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 215px;
  height: 215px;
  padding: 1rem;
  border: 4px solid #e05656;
  -webkit-border-radius: 1.5rem;
  border-radius: 1.5rem;
}
.strokes .grid {
  position: absolute;
  top: 1rem;
  left: 1rem;
  bottom: 1rem;
  right: 1rem;
  border: 1px solid #e0e0e0;
  -webkit-border-radius: 1rem;
  border-radius: 1rem;
}
.strokes .grid:before,
.strokes .grid:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  border: 1px dashed #e0e0e0;
}
.strokes .grid:before {
  height: 33.33%;
  border-left-width: 0;
  border-right-width: 0;
}
.strokes .grid:after {
  width: 33.33%;
  border-top-width: 0;
  border-bottom-width: 0;
}
.strokes canvas {
  position: absolute;
  left: 1rem;
  top: 1rem;
}
.strokes .fallback {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  width: 215px;
  height: 215px;
}
.actions {
  position: absolute;
  pointer-events: none;
  left: -100%;
  right: -100%;
}
.actions i.icon {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 1.2rem;
  line-height: 3.3600000000000003rem;
}
.comp.character {
  position: relative;
  display: inline-block;
  padding: 0.8rem;
  background: #fff;
  color: #f94646;
  border: 0.1rem solid #c7c7c7;
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
  margin-right: 0.1rem;
  font-weight: bold;
}
.comp.character:last-child {
  margin-right: 0;
}
.comp.character .char {
  font-size: 2.4rem;
}
.comp.character .pronounciation {
  pointer-events: none;
  position: absolute;
  bottom: -2.2rem;
  left: -100%;
  right: -100%;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.comp.character .pronounciation.actived {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.comp.character .pronounciation span {
  font-size: 1rem;
  position: relative;
  padding: 0.3rem 0.6rem;
  -webkit-border-radius: 0.3rem;
  border-radius: 0.3rem;
  background: pinyin-bg;
  color: pinyin-fg;
}
.comp.character .pronounciation span:before {
  content: '';
  position: absolute;
  bottom: 98%;
  left: 50%;
  margin-left: -arrow-width;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 arrow-width arrow-width arrow-width;
  border-color: transparent transparent pinyin-bg transparent;
}
