html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
@font-face {
  font-family: 'cwTeX Q KaiZH';
  src: url("../fonts/cwTeX-Q-KaiZH-subset.ttf");
}
html {
  font-family: "Noto Sans", "Noto Sans T Chinese", "Noto Sans S Chinese", "儷黑體", "微軟正黑體", "cwTex Q KaiZH", sans-serif;
  font-size: 18px;
}
small {
  font-size: 1.1ex;
  font-weight: 900;
}
html,
body,
#wrap {
  width: 100%;
  height: 100%;
}
body {
  background: #16161d;
}
#wrap {
  position: relative;
}
.presentation {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  color: #000;
}
.presentation .draw {
  position: absolute;
}
.presentation .draw.page {
  position: relative;
  margin-bottom: 1% !important;
  background: #fff;
}
.presentation .draw.image {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  width: 100% !important;
  height: 100% !important;
  content: '';
}
.presentation .draw.text-box {
  width: 100% !important;
  height: 100% !important;
}
.presentation .text {
  display: inline;
}
.presentation .text.p,
.presentation .text.span {
  position: static;
}
.presentation .text.p .span {
  white-space: nowrap;
}
.presentation .text.line-break {
  position: static;
}
.frame > .image span {
  height: 0 !important;
}
.frame > .image .p {
  position: absolute !important;
  width: 6em !important;
  height: 1em !important;
  margin: auto;
  margin-left: -3em;
  top: 0 !important;
  bottom: 0 !important;
  left: 50% !important;
  text-align: center;
}
.audio-control {
  cursor: pointer;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-image: url("../images/play.png");
}
.audio-control.playing {
  background-image: url("../images/pause.png");
}
.audio-control.loading {
  cursor: auto;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.strokes {
  z-index: 2;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 215px;
  height: 215px;
  padding: 1rem;
  border: 4px solid #e05656;
  -webkit-border-radius: 1.5rem;
  border-radius: 1.5rem;
}
.strokes .grid {
  position: absolute;
  top: 1rem;
  left: 1rem;
  bottom: 1rem;
  right: 1rem;
  border: 1px solid #e0e0e0;
  -webkit-border-radius: 1rem;
  border-radius: 1rem;
}
.strokes .grid:before,
.strokes .grid:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  border: 1px dashed #e0e0e0;
}
.strokes .grid:before {
  height: 33.33%;
  border-left-width: 0;
  border-right-width: 0;
}
.strokes .grid:after {
  width: 33.33%;
  border-top-width: 0;
  border-bottom-width: 0;
}
.strokes canvas {
  position: absolute;
  left: 1rem;
  top: 1rem;
}
.strokes .fallback {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  width: 215px;
  height: 215px;
}
.button {
  display: block;
  pointer-events: auto;
  cursor: pointer;
  font-family: "icomoon";
  width: 3.2rem;
  height: 3.2rem;
  line-height: 3.2rem;
  -webkit-border-radius: 1.6rem;
  border-radius: 1.6rem;
  background-color: #575f64;
}
.button.hidden {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  pointer-events: none;
}
.button:hover,
.button.actived {
  background-color: #f94646;
}
.button div {
  color: #fff;
}
.button.cut div:before {
  content: "\e605";
}
.button.pinyin div:before {
  content: "\e604";
}
.button.stroke div:before {
  content: "\e606";
}
.button.english div:before {
  content: "\e601";
}
.button.undo div:before {
  content: "\e603";
}
.menu {
  position: absolute;
  pointer-events: none;
  left: -200%;
  right: -200%;
}
.menu .button {
  display: inline-block;
  margin-right: 0.5rem;
}
.menu .button:last-child {
  margin-right: 0;
}
.popup {
  pointer-events: none;
  position: absolute;
  bottom: -2.2rem;
  left: -100%;
  right: -100%;
}
.popup.hidden {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.popup span {
  font-size: 1rem;
  position: relative;
  padding: 0.3rem 0.6rem;
  -webkit-border-radius: 0.3rem;
  border-radius: 0.3rem;
  background-color: #f94646;
  color: #fff;
}
.popup span:before {
  content: '';
  position: absolute;
  bottom: 98%;
  left: 50%;
  margin-left: -0.4rem;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0.4rem 0.4rem 0.4rem;
  border-color: transparent transparent #f94646 transparent;
}
.character {
  position: relative;
  display: inline-block;
  padding: 0.6rem;
  background: #fff;
  color: #f94646;
  border: 0.1rem solid #c7c7c7;
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
  margin-right: 0.1rem;
  font-weight: bold;
}
.character:last-child {
  margin-right: 0;
}
.character .char {
  font-size: 2rem;
}
.word {
  position: relative;
  display: inline-block;
  margin-right: 1rem;
}
.word:last-child {
  margin-right: 0;
}
.word .menu {
  position: absolute;
}
.word .menu.menu-cut {
  top: -3.7rem;
}
.word .menu.menu-learn {
  bottom: -3.7rem;
}
.word .meaning {
  position: absolute;
  left: -100%;
  right: -100%;
}
.settings {
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 1px;
  right: 0;
  background-color: #fff;
  text-align: right;
}
.settings:before {
  display: inline-block;
  content: '';
  vertical-align: middle;
  height: 100%;
}
.settings .item {
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
  padding: 0 12px;
  border-left: 1px solid #f1f1f1;
  color: #575f64;
}
.definition {
  position: relative;
  background-color: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  min-height: 2rem;
  line-height: 2rem;
  padding: 1rem;
  font-size: 1rem;
  text-align: left;
}
.definition .word,
.definition .translation {
  padding: 0.2rem 0.4rem;
}
.definition .word {
  background-color: #575f64;
  color: #fff;
  -webkit-border-radius: 0.3rem;
  border-radius: 0.3rem;
}
.playground {
  font-size: 1.2rem;
  text-align: center;
}
.playground .sentence {
  position: relative;
  padding: 6rem 1rem;
}
.playground {
  position: relative;
}
.playground .undo.button {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 2.4rem;
}
.ui.modal.control .header .button.settings-button {
  position: absolute;
  right: 1rem;
  font-family: inherit;
  -webkit-border-radius: 0.3rem;
  border-radius: 0.3rem;
  width: auto;
  height: auto;
  line-height: 1.5rem;
  font-size: 1rem;
  background: #575f64;
  padding: 0.2rem 0.4rem;
}
.ui.modal.control .header .button.settings-button div {
  color: #fff;
}
.ui.modal.control .content {
  padding: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
