html,
body,
#wrap {
  width: 100%;
  height: 100%;
}
body {
  background: #16161d;
}
#wrap {
  position: relative;
}
.presentation {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  color: #000;
}
.presentation .draw {
  position: absolute;
}
.presentation .draw.page {
  position: relative;
  margin-bottom: 1% !important;
  background: #fff;
}
.presentation .draw.image {
  background-size: cover;
  width: 100% !important;
  height: 100% !important;
  content: '';
}
.presentation .draw.text-box {
  width: 100% !important;
  height: 100% !important;
}
.presentation .text {
  display: inline;
}
.presentation .text.p,
.presentation .text.span {
  position: static;
}
.presentation .text.p .span {
  white-space: nowrap;
}
.presentation .text.line-break {
  position: static;
}
.frame > .image span {
  height: 0 !important;
}
.frame > .image .p {
  position: absolute !important;
  width: 6em !important;
  height: 1em !important;
  margin: auto;
  margin-left: -3em;
  top: 0 !important;
  bottom: 0 !important;
  left: 50% !important;
  text-align: center;
}
html {
  font-size: 18px;
}
small {
  font-size: 1.1ex;
  font-weight: 900;
}
.ui.menu {
  margin: 0;
}
.ui.label.white {
  background: none;
}
.ui.menu .ui.image.avatar {
  margin: -0.83em 0;
}
.ui.round.button {
  border-radius: 2em;
}
.ui.yellow.label {
  background-color: #f0ad4e !important;
}
.ui.purple.label {
  background-color: #9b96f7 !important;
}
.ui.pink.label {
  background-color: #f3a8aa !important;
}
.ui.deep-blue.label {
  background-color: #006dcc !important;
}
.ui.deep-green.label {
  background-color: #5bb75b !important;
}
.ui.deep-purple.label {
  background-color: #564f8a !important;
}
.no.margin {
  margin: 0;
}
.float.right {
  float: right;
}
.align.right {
  text-align: right;
}
.one.line.height {
  line-height: 1em;
}
.two.line.height {
  line-height: 2em;
}
.indent {
  margin-left: 2rem;
}
.hidden,
.shy {
  display: none;
}
.removed {
  display: none !important;
}
.transparent {
  opacity: 0;
}
.half-transparent {
  opacity: 0.5;
}
.opaque {
  opacity: 1;
}
.inline.block {
  display: inline-block;
}
@media screen and (max-width: 1024px) {
  .desktop.only {
    display: none !important;
  }
}
@media screen and (min-width: 1025px) {
  .mobile.only {
    display: none !important;
  }
}
@media screen and (max-width: 1024px) {
  .mobile.only {
    display: "";
  }
}
@media screen and (min-width: 1025px) {
  .tablet.only {
    display: none !important;
  }
}
@media screen and (max-width: 1024px) {
  .tablet.only {
    display: "";
  }
}
@media screen and (min-width: 641px) {
  .tablet.only {
    display: "";
  }
}
@media screen and (max-width: 640px) {
  .tablet.only {
    display: none !important;
  }
}
@media screen and (min-width: 641px) {
  .phone.only {
    display: none !important;
  }
}
@media screen and (max-width: 640px) {
  .phone.only {
    display: "";
  }
}
@media screen and (min-width: 481px) {
  .tiny.only {
    display: none !important;
  }
}
.ui.modal.control {
  font-family: "Noto Sans", "Noto Sans T Chinese", "Noto Sans S Chinese", "微軟正黑體", sans-serif;
}
.ui.modal.control .header .settings.icon {
  float: right;
  cursor: pointer;
}
.ui.modal.control .content {
  padding: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.ui.modal.control .playground {
  font-size: 120%;
  text-align: center;
}
.ui.modal.control .playground .navbar {
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 1px;
  right: 0;
}
.ui.modal.control .playground .navbar .menu {
  -webkit-border-radius: 0;
  border-radius: 0;
}
.ui.modal.control .playground .entry {
  position: relative;
  background: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  min-height: 2rem;
  padding: 1rem;
  padding-right: 6rem;
  font-size: 1rem;
  text-align: left;
}
.ui.modal.control .playground .entry .definition {
  line-height: 2rem;
  margin-left: 1rem;
}
.ui.modal.control .playground .entry .word-class {
  margin-left: 0.5rem;
}
.ui.modal.control .playground .entry .display-mode {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}
.ui.modal.control .playground .entry .display-mode .aligner {
  vertical-align: middle;
  display: inline-block;
  height: 100%;
}
.ui.modal.control .playground .entry .display-mode .button {
  vertical-align: middle;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0.5rem;
  margin-right: 0.5rem;
}
.ui.modal.control .playground .comp.sentence {
  position: relative;
  padding: 4rem 1rem;
}
.ui.modal.control .playground .comp.sentence .strokes {
  position: relative;
  z-index: 2;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 215px;
  height: 215px;
  padding: 1rem;
  border: 4px solid #e05656;
  -webkit-border-radius: 1.5rem;
  border-radius: 1.5rem;
}
.ui.modal.control .playground .comp.sentence .strokes .grid {
  position: absolute;
  top: 1rem;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  border: 1px solid #e0e0e0;
  -webkit-border-radius: 1rem;
  border-radius: 1rem;
}
.ui.modal.control .playground .comp.sentence .strokes .grid:before,
.ui.modal.control .playground .comp.sentence .strokes .grid:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 1px dashed #e0e0e0;
}
.ui.modal.control .playground .comp.sentence .strokes .grid:before {
  height: 33.33%;
  border-left-width: 0;
  border-right-width: 0;
}
.ui.modal.control .playground .comp.sentence .strokes .grid:after {
  width: 33.33%;
  border-top-width: 0;
  border-bottom-width: 0;
}
.ui.modal.control .playground .comp.sentence .strokes canvas {
  position: absolute;
  left: 1rem;
  top: 1rem;
}
.ui.modal.control .playground .comp.redo-cut {
  position: absolute;
}
.ui.modal.control .playground .comp top 1rem {
  right: 2rem;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}
.ui.modal.control .playground .comp top 1rem i {
  margin: 0;
}
.ui.modal.control .playground .comp.word {
  position: relative;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  margin-right: 1rem;
}
.ui.modal.control .playground .comp.word:last-child {
  margin-right: 0;
}
.ui.modal.control .playground .comp.word .meaning {
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 0.2rem;
  font-size: 0.9rem;
  line-height: 1rem;
  min-height: 1.5rem;
  text-align: center;
  color: #000;
}
.ui.modal.control .playground .comp.word .actions {
  position: absolute;
  top: -3rem;
  left: 50%;
  text-align: center;
  padding: 0;
}
.ui.modal.control .playground .comp.word .actions .menu {
  position: relative;
  z-index: 1;
  -webkit-border-radius: 0.3rem;
  border-radius: 0.3rem;
}
.ui.modal.control .playground .comp.word .actions .menu .button {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.ui.modal.control .playground .comp.word .actions .menu.single {
  width: 3rem;
  margin-left: -1.5rem;
}
.ui.modal.control .playground .comp.word .actions .menu.multiple {
  width: 6rem;
  margin-left: -3rem;
}
.ui.modal.control .playground .comp.word .actions .menu:before {
  position: absolute;
  margin-left: -0.5rem;
  left: 50%;
  top: 99%;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.5rem 0.5rem 0 0.5rem;
  border-color: #5c6166 transparent transparent transparent;
}
.ui.modal.control .playground .comp.word .actions .menu i.cut.icon {
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.ui.modal.control .playground .comp.characters {
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.ui.modal.control .playground .comp.character {
  display: inline-block;
}
.ui.modal.control .playground .comp.character .char {
  text-align: center;
  display: inline-block;
  position: relative;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #ff5453;
  color: #fff;
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
}
.ui.modal.control .playground .comp.character .pronounciation {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1rem;
  min-height: 1rem;
  font-family: "American Typewriter", monospace;
  text-align: center;
  color: rgba(0,0,0,0.5);
}
.ui.modal.control #deck {
  width: 100%;
  padding: 1rem;
  text-align: center;
  position: relative;
}
.ui.modal.control #deck .word .characters {
  cursor: pointer;
}
.ui.modal.control #subject {
  font-size: 1.2rem;
  line-height: 1.5em;
  font-weight: bold;
  text-align: center;
  padding: 1rem;
  background-color: #ff5453;
  color: #fff;
}
.ui.modal.control #actions .congratulations {
  display: inline-block;
  padding: 1rem;
  background-color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: #000 0 0 1px;
  box-shadow: #000 0 0 1px;
}
.ui.modal.control #actions .congratulations .button {
  margin: 0 0.1rem;
}
.audio-control {
  cursor: pointer;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-image: url("../images/play.png");
}
.audio-control.playing {
  background-image: url("../images/pause.png");
}
@font-face {
  font-family: 'cwTeX Q KaiZH';
  src: url("../fonts/cwTeX-Q-KaiZH-subset.ttf");
}
