html,
body,
#wrap {
  width: 100%;
  height: 100%;
}
body {
  background: #16161d;
}
#wrap {
  position: relative;
}
.presentation {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  color: #000;
}
.presentation .draw {
  position: absolute;
}
.presentation .draw.page {
  background: #fff;
}
.presentation .draw.image {
  background-size: cover;
  width: 100% !important;
  height: 100% !important;
  content: '';
}
.presentation .draw.text-box {
  width: 100% !important;
  height: 100% !important;
}
.presentation .text {
  display: inline;
}
.presentation .text.p,
.presentation .text.span {
  position: static;
}
.presentation .text.p .span {
  white-space: nowrap;
}
.presentation .text.line-break {
  position: static;
}
.frame > .image span {
  height: 0 !important;
}
.frame > .image .p {
  position: absolute !important;
  width: 6em !important;
  height: 1em !important;
  margin: auto;
  margin-left: -3em;
  top: 0 !important;
  bottom: 0 !important;
  left: 50% !important;
  text-align: center;
}
.ui.menu {
  margin: 0;
}
.ui.label.white {
  background: none;
}
.ui.menu .ui.image.avatar {
  margin: -0.83em 0;
}
.ui.round.button {
  border-radius: 2em;
}
.ui.yellow.label {
  background-color: #f0ad4e !important;
}
.ui.purple.label {
  background-color: #9b96f7 !important;
}
.ui.pink.label {
  background-color: #f3a8aa !important;
}
.ui.deep-blue.label {
  background-color: #006dcc !important;
}
.ui.deep-green.label {
  background-color: #5bb75b !important;
}
.ui.deep-purple.label {
  background-color: #564f8a !important;
}
.no.margin {
  margin: 0;
}
.float.right {
  float: right;
}
.align.right {
  text-align: right;
}
.one.line.height {
  line-height: 1em;
}
.two.line.height {
  line-height: 2em;
}
.indent {
  margin-left: 2rem;
}
.hidden,
.shy {
  display: none;
}
.removed {
  display: none !important;
}
.transparent {
  opacity: 0;
}
.half-transparent {
  opacity: 0.5;
}
.opaque {
  opacity: 1;
}
.inline.block {
  display: inline-block;
}
@media screen and (max-width: 1024px) {
  .desktop.only {
    display: none !important;
  }
}
@media screen and (min-width: 1025px) {
  .mobile.only {
    display: none !important;
  }
}
@media screen and (max-width: 1024px) {
  .mobile.only {
    display: "";
  }
}
@media screen and (min-width: 1025px) {
  .tablet.only {
    display: none !important;
  }
}
@media screen and (max-width: 1024px) {
  .tablet.only {
    display: "";
  }
}
@media screen and (min-width: 641px) {
  .tablet.only {
    display: "";
  }
}
@media screen and (max-width: 640px) {
  .tablet.only {
    display: none !important;
  }
}
@media screen and (min-width: 641px) {
  .phone.only {
    display: none !important;
  }
}
@media screen and (max-width: 640px) {
  .phone.only {
    display: "";
  }
}
@media screen and (min-width: 481px) {
  .tiny.only {
    display: none !important;
  }
}
#control {
  font-family: "Noto Sans", "Noto Sans T Chinese", "微軟正黑體", sans-serif;
/*
  &.success
    #subject
      background-color hsla(120deg, 60%, 40%, 1)
    #workarea
      .word
        margin-right 0
        margin-left  0
      .character
        background-color hsla(120deg, 60%, 40%, 1)
  */
/*
  &.box.mode, &.line.mode, &.random.mode
    min-height 640px
  */
/*
  &.box.mode
    #workarea
      .slot
        background-color rgba(#000,0.05)
        //margin-right -3px
        box-shadow rgba(#000,0.2) 0 0 1rem inset
        border-radius 0.5rem
        &:last-child
          margin-right 0

  &.line.mode, &.random.mode
    #workarea
      .slot
        //border-bottom 1px #ccc solid
      .word
        margin-right 0
        margin-left  0

  &.line.mode
    #workarea
      .word
        border-radius 0
        background #eee
  */
/*
  #workarea
    width 100%
    background-color #fff
    box-shadow rgba(#000, 1) 0 0 1px
    padding 1rem
    .sentence
      margin 2.5rem 0 3rem 0
  */
}
#control.content.mode #playground {
  min-height: inherit;
}
#control #playground {
  min-height: 16rem;
  position: relative;
  text-align: center;
  margin-bottom: 3.5rem;
/*
    .prev.button
      position absolute
      left -3rem
      width 3rem
      top   4rem
    .next.button
      position absolute
      right -3rem
      width  3rem
      top    4rem
    .merge.before
      //display: none
      position: absolute
      width 0.5rem
      height 100%
      background-color hsla(40deg, 100%, 70%, 1)
      top   0
      left -0.5rem
    .merge.after
      //display none
      position absolute
      width 0.5rem
      height 100%
      background-color hsla(40deg, 100%, 70%, 1)
      top    0
      right -0.5rem
    .slot
      display inline-block
      position relative
    .slots
      //font-size 0
      display inline-block
    */
}
#control #playground .aligner,
#control #playground .sentence {
  display: inline-block;
}
#control #playground .aligner {
  width: 0;
  height: 100%;
  vertical-align: middle;
}
#control #playground .sentence {
  vertical-align: middle;
}
#control #playground .word {
  display: inline-block;
  margin: 0.5rem;
}
#control #playground .characters {
  position: relative;
  cursor: pointer;
}
#control #playground .character {
  text-align: center;
  display: inline-block;
  position: relative;
  padding: 0.5em;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #ff5453;
  color: #fff;
  border-radius: 0.5rem;
}
#control #playground .character:last-child {
  margin-right: 0;
}
#control #playground .pronounciation {
  position: absolute;
  font-weight: normal;
  font-size: 0.75rem;
  top: -0.9rem;
  font-family: "American Typewriter", monospace;
  left: 0;
  right: 0;
  text-align: center;
  color: rgba(0,0,0,0.5);
}
#control #playground .meaning {
  font-size: 0.9rem;
  text-align: center;
  position: absolute;
  bottom: -1rem;
  left: 0;
  right: 0;
  text-align: center;
  margin-left: -3rem;
  margin-right: -3rem;
  color: #000;
}
#control #deck {
  width: 100%;
  padding: 1rem;
  text-align: center;
  position: relative;
}
#control #deck .word .characters {
  cursor: pointer;
}
#control #deck .word .actions {
  display: none;
  position: absolute;
  top: -3.5rem;
  left: 50%;
}
#control #deck .word .actions .menu {
  background-color: #666;
  border-radius: 0.3rem;
}
#control #deck .word .actions .menu.single {
  width: 6rem;
  margin-left: -3rem;
}
#control #deck .word .actions .menu.multiple {
  width: 9rem;
  margin-left: -4.5rem;
}
#control #deck .word .actions .menu:before {
  position: absolute;
  left: -0.4rem;
  bottom: -0.5rem;
  content: "";
  width: 1rem;
  height: 1rem;
  background-color: #666;
  transform: rotate(45deg);
}
#control #deck .word .actions .menu .buttons {
  position: relative;
  z-index: 3;
}
#control .navbar {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
#control .navbar .menu {
  border-radius: 0;
}
#control .entry {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  padding: 1rem;
  font-size: 1rem;
  text-align: left;
/*
    .comments
      margin-left 1em
      font-style italic
    */
}
#control .entry .definition {
  line-height: 1.5em;
  margin-left: 1em;
}
#control .entry .word-class {
  margin-left: 0.5em;
}
#control #subject {
  font-size: 1.2rem;
  line-height: 1.5em;
  font-weight: bold;
  text-align: center;
  padding: 1rem;
  background-color: #ff5453;
  color: #fff;
}
#control #actions .congratulations {
  display: inline-block;
  padding: 1rem;
  background-color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  box-shadow: #000 0 0 1px;
}
#control #actions .congratulations .button {
  margin: 0 0.1rem;
}
.audio-control {
  cursor: pointer;
  background-position: 50% 50%;
  background-size: cover;
  background-image: url("../json/Pictures/play.png");
}
.audio-control.playing {
  background-image: url("../json/Pictures/pause.png");
}
