.ui.modal.control {
  font-family: "Noto Sans", "Noto Sans T Chinese", "Noto Sans S Chinese", "微軟正黑體", sans-serif;
}
.ui.modal.control .header .settings.icon {
  float: right;
  cursor: pointer;
}
.ui.modal.control .content {
  padding: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.ui.modal.control .playground {
  font-size: 120%;
  text-align: center;
}
.ui.modal.control .playground .navbar {
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 1px;
  right: 0;
}
.ui.modal.control .playground .navbar .menu {
  -webkit-border-radius: 0;
  border-radius: 0;
}
.ui.modal.control .playground .entry {
  position: relative;
  background: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  min-height: 2rem;
  padding: 1rem;
  font-size: 1rem;
  text-align: left;
}
.ui.modal.control .playground .entry .definition {
  line-height: 2rem;
  margin-left: 1rem;
}
.ui.modal.control .playground .entry .word-class {
  margin-left: 0.5rem;
}
