html,
body,
#wrap {
  width: 100%;
  height: 100%;
}
body {
  background: #16161d;
}
#wrap {
  position: relative;
}
.presentation {
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  color: #000;
}
.presentation .draw {
  position: absolute;
}
.presentation .draw.page {
  display: inline-block;
  position: relative;
  background: #fff;
}
.presentation .draw.image {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  width: 100% !important;
  height: 100% !important;
  content: '';
}
.presentation .draw.text-box {
  width: 100% !important;
  height: 100% !important;
}
.presentation .text {
  display: inline;
}
.presentation .text.p,
.presentation .text.span {
  position: static;
}
.presentation .text.p .span {
  white-space: nowrap;
}
.presentation .text.line-break {
  position: static;
}
.presentation .aligned {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.presentation .aligned.top {
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -o-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.presentation .aligned.middle {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.presentation .aligned.bottom {
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -o-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.frame > .image span {
  height: 0 !important;
}
.frame > .image .p {
  position: absolute !important;
  width: 6em !important;
  height: 1em !important;
  margin: auto;
  margin-left: -3em;
  top: 0 !important;
  bottom: 0 !important;
  left: 50% !important;
  text-align: center;
}
