.reader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.reader .prev,
.reader .next,
.reader .navbar {
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}
.reader .prev:hover,
.reader .next:hover,
.reader .navbar:hover {
  opacity: 1;
}
.reader .prev,
.reader .next {
  font-family: 'icomoon';
  speak: none;
  font-size: 1.5rem;
  cursor: pointer;
  width: 5%;
  text-align: center;
  background-color: trasparent;
  color: color-3;
}
.reader .prev.hidden,
.reader .next.hidden {
  pointer-events: none;
  opacity: 0;
}
.reader .prev span,
.reader .next span,
.reader .prev:before,
.reader .next:before {
  display: inline-block;
  vertical-align: middle;
}
.reader .prev:before,
.reader .next:before {
  content: '';
  height: 100%;
}
.reader .prev {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}
.reader .prev:after {
  content: "\e60a";
}
.reader .next {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}
.reader .next:after {
  content: "\e60b";
}
.reader .navbar {
  background-color: color-3;
  color: color-0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 10%;
}
