html, body, #wrap
  width  100%
  height 100%

#wrap
  position relative
  background #16161D

.cubebooks
  &.page
    position absolute
    left   0
    top    0
    right  0
    bottom 0
    margin auto
    background #0F0
  .frame
    position absolute
    background #00F

