@import 'nib'

transform(v)
  -moz-transform v
  -o-transform v
  -ms-transform v
  -webkit-transform v
  transform v

#control
  font-family "Noto Sans", "Noto Sans T Chinese", "Noto Sans S Chinese", "微軟正黑體", sans-serif
  .header
    .settings.icon
      float right
      cursor pointer
  .content
    padding 0
    border-bottom-left-radius  5px
    border-bottom-right-radius 5px
  .playground
    font-size 120%
    text-align center
    .navbar
      position absolute
      overflow hidden
      left  0
      top   1px
      right 0
      .menu
        border-radius 0
    .entry
      position relative
      background white
      border-bottom-left-radius  5px
      border-bottom-right-radius 5px
      min-height 2rem
      padding 1rem
      padding-right 6rem
      font-size 1rem
      text-align left
      .definition
        line-height 2rem
        margin-left 1rem
      .word-class
        margin-left 0.5rem
      .pinyin-en
        position absolute
        right 0
        top 0
        bottom 0
        .aligner
          vertical-align middle
          display inline-block
          height 100%
        .button
          vertical-align middle
          box-shadow none
          padding 0.5rem
          margin-right 0.5rem
    .comp
      &.sentence
        position relative
        margin-bottom 0.9rem // match the height of meaning
        padding 4rem 1rem
      &.word
        position relative
        cursor pointer
        display inline-block
        vertical-align middle
        margin 0.5rem
        //&:last-child
        //  margin-right 0
        .meaning
          position absolute
          left 0
          right 0
          font-size  0.9rem
          min-height 0.9rem
          text-align center
          color rgba(#000,1)
        .actions
          //display none
          position absolute
          top -3.5rem
          left 50%
          text-align center
          padding 0
          .menu
            background-color #666
            border-radius 0.3rem
            &.single
              width 3rem
              margin-left -1.5rem
            &.multiple
              width 9rem
              margin-left -4.5rem
            &:before
              position absolute
              left -0.5rem
              bottom -0.5rem
              content ""
              width  1rem
              height 1rem
              background-color #666
              transform rotate(45deg)
            .buttons
              position relative
              z-index 3
      &.characters
        display inline-block
        position relative
        cursor pointer
      &.character
        display inline-block
        .char
          text-align center
          display inline-block
          position relative
          padding 0.5rem
          font-size 1.5rem
          font-weight bold
          background-color #FF5453
          color #FFF
          border-radius 0.5rem
        .pronounciation
          font-weight normal
          font-size  0.75rem
          min-height 0.75rem
          font-family "American Typewriter", monospace
          text-align center
          color rgba(#000, 0.5)

  #deck
    width 100%
    padding 1rem
    text-align center
    position relative
    .word
      .characters
        cursor pointer


  #subject
    font-size 1.2rem
    line-height 1.5em
    font-weight bold
    text-align center
    padding 1rem
    background-color #FF5453
    color #FFF

  #actions
    .congratulations
      display inline-block
      padding 1rem
      background-color #fff
      font-weight bold
      font-size 1.2rem
      border-radius 0.5rem
      box-shadow rgba(#000, 1) 0 0 1px
      .button
        margin 0 0.1rem
