@import 'nib'

transform(v)
  -moz-transform v
  -o-transform v
  -ms-transform v
  -webkit-transform v
  transform v

grid-line      = #e0e0e0
strokes-border = #e05656

.ui.modal.control
  font-family "Noto Sans", "Noto Sans T Chinese", "Noto Sans S Chinese", "微軟正黑體", sans-serif
  .header
    .settings.icon
      float right
      cursor pointer
  .content
    padding 0
    border-bottom-left-radius  5px
    border-bottom-right-radius 5px
  .playground
    font-size 120%
    text-align center
    .navbar
      position absolute
      overflow hidden
      left  0
      top   1px
      right 0
      .menu
        border-radius 0
    .entry
      position relative
      background white
      border-bottom-left-radius  5px
      border-bottom-right-radius 5px
      min-height 2rem
      padding 1rem
      font-size 1rem
      text-align left
      .definition
        line-height 2rem
        margin-left 1rem
      .word-class
        margin-left 0.5rem
    .comp
      &.sentence
        position relative
        padding 4rem 1rem
        .strokes
          position relative
          z-index 2
          background white
          position absolute
          top 0
          left 0
          bottom 0
          right 0
          margin auto
          width  215px
          height 215px
          padding 1rem
          border 4px solid strokes-border
          border-radius 1.5rem
          .grid
            position absolute
            top    1rem
            bottom 1rem
            left   1rem
            right  1rem
            border 1px solid grid-line
            border-radius 1rem
            &:before, &:after
              content ''
              position absolute
              top    0
              bottom 0
              left   0
              right  0
              margin auto
              border 1px dashed grid-line
            &:before
              height 33.33%
              border-left-width 0
              border-right-width 0
            &:after
              width  33.33%
              border-top-width 0
              border-bottom-width 0
          canvas
            position absolute
            left 1rem
            top  1rem
      &.undo-cut
        position absolute
        top 1rem
        right 2rem
        //margin auto
        text-align center
        padding-left 0
        padding-right 0
        .button
          opacity 0
          pointer-events none
          &.actived
            opacity 1
            pointer-events auto
          i
            margin 0
      &.word
        position relative
        cursor pointer
        display inline-block
        vertical-align middle
        margin-right 1rem
        &:last-child
          margin-right 0
        .meaning
          position absolute
          left 0
          right 0
          margin-top  0.2rem
          font-size   0.9rem
          line-height 1.5rem
          min-height  1.5rem
          text-align center
          color rgba(#000,1)
          opacity 0
          &.actived
            opacity 1
        .actions
          //display none
          pointer-events none
          position absolute
          left  -100%
          right -100%
          text-align center
          padding 0
          .menu
            position relative
            z-index 1
            border-radius 0.3rem
            .button
              pointer-events auto
              width  2rem
              height 2rem
              border-radius 1rem
              border none
              box-shadow none
              padding 0
              margin-right 0.5rem
              &:last-child
                margin-right 0
              i.icon
                line-height 2rem
              opacity 0
              pointer-events none
              &.actived
                opacity 1
                pointer-events auto
            //.buttons
            //  position relative
            i.cut.icon
              margin-left 0.9rem
              margin-top 0.5rem
              transform rotate(90deg)
        .menu-cut
          top   -2.5rem
        .menu-learn
          bottom   -3.5rem
      &.characters
        display inline-block
        position relative
        cursor pointer
      &.character
        display inline-block
        .char
          text-align center
          display inline-block
          position relative
          padding 0.5rem
          font-size 1.5rem
          font-weight bold
          background-color #FF5453
          color #FFF
          border-radius 0.5rem
        .pronounciation
          margin 0
          padding 0
          font-weight normal
          font-size   0.75rem
          line-height 1rem
          min-height  1rem
          font-family "American Typewriter", monospace
          text-align center
          color rgba(#000, 0.5)
          opacity 0
          &.actived
            opacity 1

  #deck
    width 100%
    padding 1rem
    text-align center
    position relative
    .word
      .characters
        cursor pointer


  #subject
    font-size 1.2rem
    line-height 1.5em
    font-weight bold
    text-align center
    padding 1rem
    background-color #FF5453
    color #FFF

  #actions
    .congratulations
      display inline-block
      padding 1rem
      background-color #fff
      font-weight bold
      font-size 1.2rem
      border-radius 0.5rem
      box-shadow rgba(#000, 1) 0 0 1px
      .button
        margin 0 0.1rem
