.audio-control
  cursor pointer
  background-position 50% 50%
  background-size cover
  background-image url("../images/play.png")
  &.playing
    background-image url("../images/pause.png")

#strokes
  position fixed
  top  0
  left 0
  background white

@font-face
  font-family 'cwTeX Q KaiZH'
  src url("../fonts/cwTeX-Q-KaiZH-subset.ttf")
