.audio-control
  cursor pointer
  background-position 50% 50%
  background-size cover
  background-image url("../json/Pictures/play.png")
  &.playing
    background-image url("../json/Pictures/pause.png")
