html, body, #wrap
  width  100%
  height 100%

#wrap
  position relative
  background #16161D

.react-odp-viewer
    position absolute
    left   0
    top    0
    right  0
    bottom 0
    margin auto
  .element
    position absolute
    &.page
      background #0F0
    &.frame
      background #00F

