html, body, #wrap
  width  100%
  height 100%

body
  background #16161D

#wrap
  position relative

.presentation
  position absolute
  left   0
  top    0
  right  0
  bottom 0
  margin auto
  color black
  .draw
    position absolute
    &.page
      background white
    //&.frame
    //  background transparent
    &.image
      background-size cover
      width  100% !important
      height 100% !important
      content ''
    &.text-box
      width  100% !important
      height 100% !important
  .text
    display inline
    &.p, &.span
      position static
    &.p .span
      white-space nowrap
    &.line-break
      position static

// tricks for master page
.frame > .image
  span
    height 0 !important
  .p
    position absolute !important
    width  6em !important
    height 1em !important
    margin auto
    margin-left -3em
    top    0 !important
    bottom 0 !important
    left   50% !important
    text-align center
