img.gr1 {  vertical-align: middle; opacity: 1; } 
img.gr2 {  } 
div.pr1 {  } 
div.pr2 {  background-color: #ffffff; } 
div.pr3 {  vertical-align: bottom; } 
p.P1 { text-align: left;font-family: "Noto Sans T Chinese"; } 
p.P2 { text-align: center; } 
p.P3 { font-family: "Noto Sans T Chinese"; } 
p.P4 {  font-size: 20pt; } 
p.P5 { font-family: "cwTeX Q KaiZH"; } 
p.P6 {  font-size: 30pt; } 
p.P7 { font-family: "Noto Sans T Chinese"; font-size: 30pt; } 
p.P8 {  font-size: 24pt; } 
p.P9 { font-family: "Noto Sans T Chinese"; font-size: 24pt; } 
span.T1 {font-family: "Noto Sans T Chinese"; } 
span.T2 {font-family: "cwTeX Q KaiZH"; } 
span.T3 {font-family: "Noto Sans T Chinese"; font-size: 30pt; } 
span.T4 {font-family: "Noto Sans T Chinese"; font-size: 24pt; } 
