@require '../colors'

button-bg = color-2
button-hover-bg = color-3
button-fg = color-0
button-radius = 1.6rem

.button
  display block
  pointer-events auto
  cursor pointer
  font-family "icomoon"
  width  button-radius * 2
  height button-radius * 2
  line-height button-radius * 2
  border-radius button-radius
  background-color button-bg
  text-align center
  &.hidden
    opacity 0
    pointer-events none
  &:hover, &.actived
    background-color button-hover-bg
  div
    color button-fg
  &.cut
    div:before
      content "\e605"
  &.pinyin
    div:before
      content "\e604"
  &.stroke
    div:before
      content "\e606"
  &.english
    div:before
      content "\e601"
  &.undo
    div:before
      content "\e603"
