@require '../colors'

char-bg = color-0
char-fg = color-3
char-bdr = color-8

@require 'Popup'

.character
  position relative
  display inline-block
  padding 0.6rem
  background char-bg
  color char-fg
  border 0.1rem solid char-bdr
  border-radius 0.5rem
  margin-right 0.1rem
  font-weight bold
  &:last-child
    margin-right 0
  .char
    font-size 2rem
