@require 'Button'

.menu
  position absolute
  pointer-events none
  left  -200%
  right -200%
  text-align center
  .button
    display inline-block
    margin-right 0.5rem
    &:last-child
      margin-right 0
