@require 'Sentence'
@require 'Settings'
@require 'Definition'

.playground
  position relative
  font-size 1.2rem
  text-align center
  > .undo.button
    position absolute
    top 1rem
    right 2rem
    font-size 2.4rem
  > .settings
  > .definition
    display none
