@require '../colors'

popup-bg = color-3
popup-fg = color-0
arrow-width = 0.4rem

.popup
  text-align center
  pointer-events none
  position absolute
  bottom 0.4rem
  left  -100%
  right -100%
  &.hidden
    opacity 0
  > span
    font-size 1rem
    position relative
    padding 0.3rem 0.6rem
    border-radius 0.3rem
    background-color popup-bg
    color popup-fg
    &:before
      content ''
      position absolute
      bottom 98%
      left   50%
      margin-left - arrow-width
      width  0
      height 0
      border-style solid
      border-width 0 arrow-width arrow-width arrow-width
      border-color transparent transparent popup-bg transparent
