@require 'Stroker'
@require 'Word'
@require 'Settings'

.playground
  font-size 1.2rem
  text-align center
  .entry
    position relative
    background-color white
    border-bottom-left-radius 5px
    border-bottom-right-radius 5px
    min-height 2rem
    padding 1rem
    font-size 1rem
    text-align left
    .definition
      line-height 2rem
      margin-left 1rem
    .word-class
      margin-left 0.5rem
  .sentence
    position relative
    padding 6rem 1rem
