@require 'Menu'
@require 'Character'
@require 'Popup'

.word
  position relative
  display inline-block
  margin-right 1rem
  &:last-child
    margin-right 0
  > .menu
    z-index 1
    position absolute
    &.menu-cut
      top - button-radius
    &.menu-learn
      bottom - button-radius
      &.with-hint
        bottom - button-radius - 2rem
  > .meaning
    position absolute
    left  -100%
    right -100%
