.actions {
  position: absolute;
  pointer-events: none;
  left: -100%;
  right: -100%;
}
.actions i.icon {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 1.2rem;
  line-height: 3.3600000000000003rem;
}
