.definition {
  position: relative;
  background-color: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  min-height: 2rem;
  padding: 1rem;
  font-size: 1rem;
  text-align: left;
}
.definition .word,
.definition .translation {
  padding: 0.2rem 0.4rem;
}
.definition .word {
  background-color: #575f64;
  color: #fff;
  border-radius: 0.3rem;
}
