.popup {
  pointer-events: none;
  position: absolute;
  bottom: -2.2rem;
  left: -100%;
  right: -100%;
}
.popup.hidden {
  opacity: 0;
}
.popup span {
  font-size: 1rem;
  position: relative;
  padding: 0.3rem 0.6rem;
  border-radius: 0.3rem;
  background-color: #f94646;
  color: #fff;
}
.popup span:before {
  content: '';
  position: absolute;
  bottom: 98%;
  left: 50%;
  margin-left: -0.4rem;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0.4rem 0.4rem 0.4rem;
  border-color: transparent transparent #f94646 transparent;
}
