.comp.undo-cut {
  position: absolute;
  top: 10.5rem;
  left: 50%;
  margin-left: -1.6rem;
  text-align: center;
}
.comp.undo-cut i.repeat.icon:before {
  font-family: 'icomoon';
  font-size: 2.4rem;
  line-height: 3.2rem;
  content: "\e603";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
}
.comp.undo-cut .button {
  display: none;
}
.comp.undo-cut .button.actived {
  display: block;
}
.comp.undo-cut .button.actived .icon {
  background: #575f64;
}
.comp.undo-cut .button.actived .icon:hover {
  background: #f94646;
}
