@require 'CUBEBooks/components'

.ui.modal.control
  .header
    .setting.icon
      float right
      cursor pointer
  .content
    padding 0
    border-bottom-left-radius  5px
    border-bottom-right-radius 5px
