@import 'nib'

transform(v)
  -moz-transform v
  -o-transform v
  -ms-transform v
  -webkit-transform v
  transform v

grid-line      = #e0e0e0
strokes-border = #e05656

.ui.modal.control
  font-family "Noto Sans", "Noto Sans T Chinese", "Noto Sans S Chinese", "微軟正黑體", sans-serif
  .header
    .settings.icon
      float right
      cursor pointer
  .content
    padding 0
    border-bottom-left-radius  5px
    border-bottom-right-radius 5px
  .playground
    font-size 120%
    text-align center
    .navbar
      position absolute
      overflow hidden
      left  0
      top   1px
      right 0
      .menu
        border-radius 0
    .entry
      position relative
      background white
      border-bottom-left-radius  5px
      border-bottom-right-radius 5px
      min-height 2rem
      padding 1rem
      font-size 1rem
      text-align left
      .definition
        line-height 2rem
        margin-left 1rem
      .word-class
        margin-left 0.5rem

