doctype html
html
  head
    meta(charset="utf-8")
    title CᴜʙᴇBooks
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="viewport" content="width=1024, height=768, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1")
    link(rel="stylesheet" type="text/css" href="./css/reset.css")
    link(rel="stylesheet" type="text/css" href="./css/vendor.css")
    link(rel="stylesheet" type="text/css" href="./css/style.css")
  body
    audio
      source(src="./json/demo.mp3")
    #detector
    #wrap
    #control.ui.modal
      i.close.icon
      .header
        i.settings.icon(style="float: right; cursor: pointer" onclick="$('nav').toggle('fast')")
        | C<small>UBE</small>Control
      .content
    script(src="./js/vendor.js")
    script(src="./js/react-dots-detector.js")
    script(src="./js/react-odp.js")
    script(src="./js/cubebooks.js")
    script(src="./js/main.js")
