doctype html
html
  head
    meta(charset="utf-8")
    title CUBEBooks
    link(rel="stylesheet" type="text/css" href="./css/vendor.css")
    link(rel="stylesheet" type="text/css" href="./css/style.css")
    // FIXME: should load from somewhere eles
    link(rel="stylesheet" type="text/css" href="./json/odp.css")
  body
    #detector
    #wrap
    script(src="./js/vendor.js")
    script(src="./js/react-odp.js")
    script(src="./js/main.js")
