@import 'nib'
global-reset()

@font-face
  font-family 'cwTeX Q KaiZH'
  src url("../fonts/cwTeX-Q-KaiZH-subset.ttf")

@import 'noto'

html
  font-family "LiHei Pro", "Heiti SC", "Heiti TC", "Noto Sans", "Noto Sans S Chinese", "Noto Sans T Chinese", "微軟正黑體", "cwTex Q KaiZH", sans-serif
  font-size 18px

small
  font-size 1.1ex
  font-weight 900

@require 'react-odp'
@require 'Reader'
