@import 'nib'
global-reset()

@import 'cw-tex'
@import 'noto'

html
body
#wrap
  width  100%
  height 100%

html
  font-family "Noto Sans", "Noto Sans S Chinese", "Noto Sans T Chinese", "LiHei Pro", "Heiti TC", "Heiti SC", "微軟正黑體", "cwTex Q KaiZH", sans-serif
  font-size 18px

body
  background #16161D

#wrap
  position relative

@require 'Book'

