@import 'nib'

.presentation
  position absolute
  top    0
  left   0
  bottom 0
  right  0
  margin auto
  overflow-x hidden
  overflow-y hidden
  white-space nowrap
  color black
  .draw
    position absolute
    &.page
      display inline-block
      position relative
      background white
    &.image
      background-size cover
      width  100% !important
      height 100% !important
      content ''
    &.text-box
      width  100% !important
      height 100% !important
  .text
    display inline
    &.p, &.span
      position static
    &.p .span
      white-space nowrap
    &.line-break
      position static
  .aligned
    display flex
    flex-direction column
    &.top
      justify-content flex-start
    &.middle
      justify-content center
    &.bottom
      justify-content flex-end

