@require 'Book'

.reader
  position absolute
  top 0
  right 0
  bottom 0
  left 0
  margin auto
  .prev
  .next
  .navbar
    opacity 0
    transition opacity .25s ease-in-out
    &:hover
      opacity 1
  .prev
  .next
    font-family 'icomoon'
    speak none
    font-size 1.5rem
    cursor pointer
    width 5%
    text-align center
    background-color trasparent
    color color-3
    &.hidden
      pointer-events none
      opacity 0
    span
    &:before
      display inline-block
      vertical-align middle
    &:before
      content ''
      height 100%
  .prev
    position absolute
    top 0
    bottom 0
    left 0
    &:after
      content "\e60a"
  .next
    position absolute
    top 0
    bottom 0
    right 0
    &:after
      content "\e60b"
  .navbar
    background-color color-3
    color color-0
    position absolute
    top 0
    left 0
    right 0
    height 10%
