@import 'nib'

@require '../../colors'

.audio-control
  cursor pointer
  background-position 50% 50%
  background-size cover
  text-align center
  &:hover
    div
      color color-4
  &:before
  div
    display inline-block
    vertical-align middle
  &:before
    content ''
    width 0
    height 100%
  div
    font-family 'icomoon'
    speak none
    color color-2
    &:before
      content "\e604"
  &.playing
    @keyframes blink
      for i in 0...5
        { 10% * i }
          font-size (i / 5) * 15% + 100%
      for i in 0..5
        { 10% * i + 50% }
          font-size ((5 - i) / 5) * 15% + 100%
    div
      color color-4
      animation blink 1s steps(11, start) infinite
  &.loading
    cursor auto
    pointer-events none
    opacity 0.5
