.audio-control {
  cursor: pointer;
  background-position: 50% 50%;
  background-size: cover;
  background-image: url("../images/play.png");
}
.audio-control.playing {
  background-image: url("../images/pause.png");
}
.audio-control.loading {
  cursor: auto;
  opacity: 0.5;
}
