.audio-control {
  cursor: pointer;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-align: center;
}
.audio-control:hover div {
  color: #f00;
}
.audio-control:before,
.audio-control div {
  display: inline-block;
  vertical-align: middle;
}
.audio-control:before {
  content: '';
  width: 0;
  height: 100%;
}
.audio-control div {
  font-family: 'icomoon';
  speak: none;
  color: #575f64;
}
.audio-control div:before {
  content: "\e604";
}
.audio-control.playing div {
  color: #f00;
  -webkit-animation: blink 1s steps(11, start) infinite;
  -moz-animation: blink 1s steps(11, start) infinite;
  -o-animation: blink 1s steps(11, start) infinite;
  -ms-animation: blink 1s steps(11, start) infinite;
  animation: blink 1s steps(11, start) infinite;
}
@-moz-keyframes blink {
  0% {
    font-size: 100%;
  }
  10% {
    font-size: 103%;
  }
  20% {
    font-size: 106%;
  }
  30% {
    font-size: 109%;
  }
  40% {
    font-size: 112%;
  }
  50% {
    font-size: 115%;
  }
  60% {
    font-size: 112%;
  }
  70% {
    font-size: 109%;
  }
  80% {
    font-size: 106%;
  }
  90% {
    font-size: 103%;
  }
  100% {
    font-size: 100%;
  }
}
@-webkit-keyframes blink {
  0% {
    font-size: 100%;
  }
  10% {
    font-size: 103%;
  }
  20% {
    font-size: 106%;
  }
  30% {
    font-size: 109%;
  }
  40% {
    font-size: 112%;
  }
  50% {
    font-size: 115%;
  }
  60% {
    font-size: 112%;
  }
  70% {
    font-size: 109%;
  }
  80% {
    font-size: 106%;
  }
  90% {
    font-size: 103%;
  }
  100% {
    font-size: 100%;
  }
}
@-o-keyframes blink {
  0% {
    font-size: 100%;
  }
  10% {
    font-size: 103%;
  }
  20% {
    font-size: 106%;
  }
  30% {
    font-size: 109%;
  }
  40% {
    font-size: 112%;
  }
  50% {
    font-size: 115%;
  }
  60% {
    font-size: 112%;
  }
  70% {
    font-size: 109%;
  }
  80% {
    font-size: 106%;
  }
  90% {
    font-size: 103%;
  }
  100% {
    font-size: 100%;
  }
}
@keyframes blink {
  0% {
    font-size: 100%;
  }
  10% {
    font-size: 103%;
  }
  20% {
    font-size: 106%;
  }
  30% {
    font-size: 109%;
  }
  40% {
    font-size: 112%;
  }
  50% {
    font-size: 115%;
  }
  60% {
    font-size: 112%;
  }
  70% {
    font-size: 109%;
  }
  80% {
    font-size: 106%;
  }
  90% {
    font-size: 103%;
  }
  100% {
    font-size: 100%;
  }
}
.audio-control.loading {
  cursor: auto;
  pointer-events: none;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
