.definition {
  position: relative;
  background-color: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  min-height: 2rem;
  line-height: 2rem;
  padding: 1rem;
  font-size: 1rem;
  text-align: left;
}
.definition > dt,
.definition > dd {
  display: inline-block;
  padding: 0.2rem 0.4rem;
}
.definition > dt {
  height: auto;
  background-color: #7c8284;
  color: #fff;
  border-radius: 0.3rem;
}
